#header {
  font-family: 'Oswald', sans-serif;
  background: url('/tea-drinks.jpg');
  background-size: cover;
  color: #FFFFFF;
}

#header #inner {
  background: rgba(40, 140, 40, 0.85);
  padding: 1rem;
}

#header h1 {
  margin: 0;
}
